/* ================================
    Base Element Styles
   ================================ */

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
	color: #777;
	background-color: #f5f5f5;
	background-image: url('../images/background-grunge.png');
}

h1,
h2,
h3 {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-weight: bold;
}

h2,
h3 {
	color: #4aaaa5;
	border-bottom: 2px solid #ddd;
}

h1 {
	font-size: 1.5rem;
	letter-spacing: 2px;
	color: #fff;
	background-color: #4aaaa5;
	padding: 15px 0;
	margin-bottom: 15px;
	-webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.75);
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.75);
}

h2 {
	font-size: 1.4rem;
	padding-bottom: 10px;
}

h3 {
	font-size: 1.2rem;
	padding-bottom: 14px;
}

li {
	display: inline-block;
}

a {
	text-decoration: none;
}

p {
	padding-bottom: 10px;
	line-height: 1.2;
}

/* ================================
    Base Layout Styles
   ================================ */

/* --------- Navigation -------- */

.page-links {
	display: block;
	width: 94px;
	line-height: 1.75;
	font-size: 1.1rem;
	color: #777;
	-webkit-transition: background-color 0.4s ease-out;
	transition: background-color 0.4s ease-out;
}

.page-links.active {
	color: #4aaaa5;
}

.page-links:hover {
	background-color: #f5f5f5;
}

/* ----- Layout Containers ----- */

main {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 960px;
}

section {
	text-align: left;
	background-color: #fff;
	margin: 15px 15px 50px;
	padding: 15px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

section div {
	padding-top: 15px;
}

.social-links-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

footer {
	font-size: 0.75rem;
	color: lightgray;
	background-color: #666;
	border-top: 10px solid #4aaaa5;
	padding: 20px 0;
	-webkit-box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.25);
}

/* ------- Page Elements ------- */

#profile-image {
	float: left;
	width: 120px;
	height: auto;
	padding-right: 10px;
}

.social-images {
	width: 48px;
	-webkit-transition: -webkit-transform 0.4s ease-out;
	transition: -webkit-transform 0.4s ease-out;
	transition: transform 0.4s ease-out;
	transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

.social-images:hover {
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

#copyright {
	padding: 0;
}

/* ================================
    Media Queries
   ================================ */

@media (min-width: 481px) {
	#profile-image {
		float: left;
		width: 150px;
		height: auto;
	}
}

@media (min-width: 641px) {
	/* ================================
    Base Element Styles
   ================================ */

	h1 {
		width: 220px;
		font-size: 1.7rem;
		letter-spacing: 2px;
		padding: 25px 0;
		margin-bottom: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.25rem;
	}

	p {
		font-size: 1.1rem;
		line-height: 1.3;
	}

	/* ================================
    Base Layout Styles
   ================================ */

	/* --------- Navigation -------- */

	.page-links {
		font-size: 1.2rem;
	}

	.page-links:hover {
		background-color: #e6e6e6;
	}

	/* ----- Layout Containers ----- */

	header {
		background-color: #fff;
		-webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.25);
		box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.25);
	}

	.header-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		max-width: 960px;
		background-color: #fff;
		margin: 0 auto;
		padding: 0 25px;
	}

	section {
		margin: 50px 25px;
		padding: 25px;
	}

	section div {
		padding-top: 20px;
	}

	footer {
		font-size: 0.9rem;
		padding: 30px 0;
	}

	/* ------- Page Elements ------- */

	#profile-image {
		width: 185px;
	}

	.social-images {
		width: 64px;
	}

	.social-images:hover {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}

@media (min-width: 769px) {
	main {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	section:first-child {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
	}

	.social-links-container {
		width: 180px;
	}

	.top-row.social-images {
		margin-bottom: 20px;
	}
}

@media (min-width: 960px) {
	main {
		margin: 0 auto;
	}

	section:first-child {
		min-width: 630px;
	}
}
